.codebox {
	margin: 10%;
	background-color: black;
	color: grey;
	border: 2px solid grey;
	border-radius: 5px;
	font-size: 20px;
}

.infoArea {
	margin: 2%;
	text-align: center;
}

.numButtons {
	margin: 7.5%;
	overflow: auto;
}

.numButton {
	background-color: #04AA6D;
	border: 1px solid green;
	color: white;
	width: 10%;
}

.numButton input:not(:last-child) {
	border-right: none;
}

.numButton:after { /* Clear floats (clearfix hack) */
	content: "";
	clear: both;
	display: table;
}

input[type="button"] {
	padding: 10px 24px;
	cursor: pointer;
	float: left;
}


input[type="button"]:hover {
	background-color: #3e8e41;
}

:disabled {
	opacity: 0.6;
	cursor: not-allowed;
}

@media only screen and (min-width: 600px) {
	.codebox {
		margin: 5%
	}
	.numButtons {
		margin: 2%
	}
}